.geocoder {
    width: 25%;
    left: 5%;
    top: 10px;
}

.job-card {
    margin: 2px;
    padding: 4px;
    border-bottom: 1px solid black;

    #navigate {
        padding: 3px;
        margin: 2px;
        border-radius: 25px;
    }
}