.wrapper {
    // background-color: black;

    ngb-tab {
        .title {
            color: white;
        }
    }
    
    .row {
        margin: -5px -35px;
    }
    
    div.row {
        margin: 10px;
    }
}
