<div class="wrapper">
    <div class="box a">
        <div class="card">
            <img class="card-img-top" src="../../../assets/as.jpg" alt="Profile Pic">
        </div>
    </div>

    <div class="box b">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Name: <b>Vaidas Datenis</b></h4>
                <p class="card-text">E-mail: <b>datenis.v@gmail.com</b></p>
                <p class="card-text">Mobile: <b>+370867096168</b></p>
                <p class="card-text">Location: <b>Lithuania</b></p>
            </div>
            <div class="card-body">
                <h4 class="card-title"><b>Social Links:</b></h4>
                <fa-icon class="icon_btn" style="margin: 0px 4px 0px 4px;" icon="link" size="lg" title="LinkedIn"></fa-icon>: <a href="https://www.linkedin.com/in/vaidas-datenis/" target="_blank">LinkedIn</a>
                <br>
                <fa-icon class="icon_btn" style="margin: 0px 4px 0px 4px;" icon="link" size="lg" title="GitHub"></fa-icon>: <a href="https://github.com/VaidasDatenis" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

    <div class="box c">
        <img class="card-img-top" src="https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Wooden Wall">
    </div>

    <div class="box d">
        <img class="card-img-top" src="https://images.pexels.com/photos/92904/pexels-photo-92904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Development">
    </div>

    <div class="box e">
        <h4><b>In short:</b></h4>
        <p>In one year of experience I had various tasks regarding
            server side functionalities and UI/UX development, crawling/scraping data, used programming languages like Python, Flask, Angular, TypeScript, helpful tools like Docker, DBeaver, PostMan. Coded full REST API's,
            applyed CRUD functionalities, calling services to back-end API. Features made
            like Admin tool panel (like this one), that could manipulate all data, users, items with create/edit/update/delete methods.
            My goal of this year is to improve my Angular skills for mobile apps, using
            NativeScript.</p>
    </div>

    <div class="box f">
        <div class="card">
            <a href="https://angular.io/" target="_blank"><img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" alt="Angular"></a>
        </div>
        <div class="card">
            <a href="https://www.typescriptlang.org/" target="_blank"><img class="card-img-top" src="https://frontit.dk/img/content/technology/technology-typescript.png" alt="TypeScript"></a>
        </div>
        <div class="card">
            <a href="https://www.nativescript.org/" target="_blank"><img class="card-img-top" src="https://d2odgkulk9w7if.cloudfront.net/images/default-source/logos/ns-logo-shadowed-min.png?sfvrsn=16b60efe_2" alt="NativeScript"></a>
        </div>
        <div class="card">
            <a href="https://www.python.org/" target="_blank"><img class="card-img-top" src="https://journeyofthegeekcom.files.wordpress.com/2019/01/python_logo.png" alt="Python"></a>
        </div>
        <div class="card">
            <a href="https://www.docker.com/" target="_blank"><img class="card-img-top" src="https://fatmin.com/wp-content/uploads/2014/06/c8c75-6a00e551c39e1c883401a3fd1ba08f970b-pi.png?w=256" alt="Docker"></a>
        </div>
        <div class="card">
            <a href="https://firebase.google.com/" target="_blank"><img class="card-img-top" src="https://static.chief.io/media/products/firebase_logo.png" alt="Firebase"></a>
        </div>
        <div class="card">
            <a href="https://www.postgresql.org/" target="_blank"><img class="card-img-top" src="https://dyltqmyl993wv.cloudfront.net/assets/stacks/postgresql/img/postgresql-stack-220x234.png" alt="PostgreSQL"></a>
        </div>
    </div>

  </div>