<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span>{{ 'Dashboard' }}</span>
        </a>
        <a routerLink="/worldTable" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span>{{ 'World Table' }}</span>
        </a>
        <a routerLink="/about" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <span>{{ 'About Me' }}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{ collapsed: collapsed }" (click)="toggleCollapsed()">
        <span>{{ 'Collapse Sidebar' }}</span>
        &nbsp;
    </div>
</nav>
  