<div class="wrapper">
    <div class="a">
        <div class="row">
            <div class="title">
                <h1>Native iOS and Android App with JavaScript</h1>
                <span class="x"><i>One code base - two platforms!</i></span>
            </div>
            <div class="nat-image">
                <img src="https://d2odgkulk9w7if.cloudfront.net/images/default-source/home/header-graphic-hp-min.png?sfvrsn=31b70efe_6" alt="Mobile Apps" />
            </div>
        </div>
    </div>
   
    <div class="b">
        <div class="row">
            <div class="nat-image2">
                <img src="https://storage.googleapis.com/hackersandslackers-cdn/2018/12/mapbox.jpg" alt="Mapbox" />
            </div>
            <div class="title2">
                <h1>Inspired with Angular NativeScript & Mapbox</h1>
            </div>
        </div>
    </div>

    <div class="c">
        <div class="row">
            <div class="nat-image3">
                <img src="../../../assets/android-view.PNG" alt="Mobile Apps" />
            </div>
            <div class="title3">
                <h1>Search known locations</h1>
                <span class="c"><i>For future info - You will be able to find jobs or apartments that are near to You!</i></span>
            </div>
            <div class="nat-image3 ccc">
                <img src="../../../assets/android-view2.PNG" alt="Mobile Apps" />
            </div>
        </div>
    </div>
    
</div>